@font-face {
	font-family: 'SportsWorld';
	src: url("../fonts/SportsWorldRegular.eot");
	src: url("../fonts/SportsWorldRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SportsWorldRegular.ttf") format("truetype"), url("../fonts/SportsWorldRegular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
			font-family: 'BebasBold';
			src: url("../fonts/BebasBold.eot");
			src: url("../fonts/BebasBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/BebasBold.woff") format("woff"),
			url("../fonts/BebasBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

body {
    margin: 0 auto; /* внешний отступ сверху и снизу 0px , лево и право авто по середине */
    width: 100%;
    height: auto;
    max-width: ;
    background-color: black;
    background-image: url(/images/background-lockerroom.jpg);
    background-color: rgba(0, 0, 0, 0.3); /*устанавливает прозрачность слоя сверху бэкграунда*/
    background-blend-mode: overlay; /*устанавливает смешивания слоев бэкграунда*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
    
    
}

    .wrapper {
        max-width: 960px;
        margin: 1% auto;
        height: auto;
        flex-direction: row; /*направление горизонтально*/
        flex-wrap: wrap; /*расположение блоков в несколько слоев друг за другом*/
        justify-content: center; /* выравнивание вдоль главной оси*/
        align-items: flex-start; /*выравнивание вдоль поперечной оси*/
        align-content: space-between; /*выравнивание в вертикаль и как делят пространство между собой*/
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(48, 37, 37, 0.1)); /*устанавливает градиент*/
        display: flex; /* отображение flexbox*/
        
        
    } 

        
    

    header {
    font-family: 'SportsWorld';
    display: flex; /* отображение flexbox*/
    flex-direction: row; /*направление горизонтально*/
    flex-wrap: wrap; /*расположение блоков в несколько слоев друг за другом*/
    justify-content: center; /* выравнивание вдоль главной оси*/
    align-items: center; /*выравнивание вдоль поперечной оси*/
    align-content: center; /*выравнивание в вертикаль и как делят пространство между собой*/
    margin: 3% auto;
    width: 100%; /*ширина*/
    height: 40px; /*высота*/
    padding: 0 3%;
    max-width: 960px ;
    background: rgba(0, 0, 0, 0.10) ;
    box-shadow: inset 0 0 10px rgba(0, 0, 1, 0.5); /*делает тень внутри коробки*/
    border-radius: 4px;
    
}

        header a { 
            text-decoration: none; /* Отменяем подчеркивание у ссылки в хедере */
            color: rgba(255, 217, 0, 1);
            font-weight:;
            text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9); /*цвет тени у меню*/
            
            
            
        } 
            
                     header a:hover {
                                color: rgba(255, 255, 255, 0.9);
                                text-shadow: 5px 5px 5px rgba(0, 0, 0, 1); /*цвет тени у меню*/
                    }  
              
        header li {
            display: inline; /*отображение списков в строчку*/
            
            
        }
               
                     

        .header-logo {
            flex-grow: 1; /*показывает value как занимать пространство*/  
            margin: 2%;
            width: 80px;
        }

                .header-logo:hover {
        
                    -webkit-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    transform: scale(1.2);
                    transition: all 0.5s;
                }


        .header-menu {
            flex-grow: 2; /*показывает value как занимать пространство*/ 
            font-size: 0.9em;
            word-spacing: 0.2em;
            text-decoration: ;
            margin:%;
            
        }                



        .header-social-menu {
            flex-grow: 2; /*показывает value как занимать пространство*/
            text-align: center;
            margin: 3% ;
            
            }
                    /*анимация иконок*/
                        .fa{
                          font-size:20px;
                          margin:5px;
                            -webkit-transition: all 0.5s;
                            transition: all 0.5s;
                        }
                        .fa:hover{
                          font-size: 40px;
                          transform: rotate(45deg);
                        }
                        

        .header-phone {
            flex-grow: 2; /*показывает value как занимать пространство*/
            font-size: 1.1em;
            margin: 1%;
            
        }

                .header-phone:hover {    /*увеличивает телефон при наведении*/
        
                    -webkit-transform: scale(1.04);
                    -ms-transform: scale(1.04);
                    transform: scale(1.04);
                }

        .about {
                width: 58%; /*ширина*/
                float: left; /*выравнивание по левому краю*/
                margin: 1% 2%; /*-- отсутп вокруг 1 процент */
                padding: 2% 2%;
                background: rgba(0, 0, 0, 0.1) ;
                font-family: 'BebasBold';
                box-shadow: inset 0 0 200px rgba(0, 0, 1, 0.9); /*делает тень внутри коробки*/
                
        }
        
                .about h1 {
                        color: rgba(255, 255, 255, 0.9);
                        text-shadow: 8px 8px 5px rgba(0, 0, 0, 1); /*цвет тени у мзаголовка*/
                        font-size: 1.9em;
                        text-align: center;
                        
                        }
        
                                .about h1:hover {
                                        font-size: 2em;

                                }


                .about p {
                        color: rgba(255, 255, 255, 0.9);
                        background-color: ;
                        padding: 1%;
                        font-size: 1.1em;
                        text-indent: 10px; /*отступ у каждого абзаца*/
                        text-shadow: 5px 5px 5px rgba(0, 0, 0, 1); /*цвет тени у мзаголовка*/
                        letter-spacing: 1px;
                        text-transform:capitalize;
                }

        .adverts {
                width: 30%; /*ширина*/
                float: left; /*выравнивание по левому краю*/
                margin: 1% 2%; <!-- отсутп вокруг 1 процент -->
                background: ;
        }

        .video {
                margin: 0 2%;
                width: 96%; /*ширина*/
                float: left; /*выравнивание по левому краю*/
                padding: 3% 0;
                background: ;
    
        }

        .blockquoate {
                width: 100%;
                height: auto;
                float: left;
                background: rgba(240, 128, 26, 0.8);
                
            }

                    .blockquoate:hover /*анимация внутри бокса*/
                    {
                        box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.2) ;
                        
                    }
        
                .blockquoate p {
                    text-align: center;
                    font-family: 'SportsWorld';
                    color: rgba(255, 255, 255, 0.9);
                    font-size: 2em;
                    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1); /*цвет тени у мзаголовка*/
                    
                    }

                            .blockquoate p:hover {
                                        text-shadow: 5px 4px 10px rgba(0, 0, 0, 1); /*цвет тени у мзаголовка*/
                            }

        .form {
                width: 58%;
                float: left;
                margin: 2% 2%;
                padding: 1% 1%;
                background: rgba(92, 92, 92, 0.4);
                font-family: 'BebasBold';
                color: rgba(255, 255, 255, 0.9);
                font-size: 1.4em;
                line-height: 0.5em;
                text-shadow: 5px 4px 10px rgba(0, 0, 0, 1);
        }

                .form input {
                        width: 40%;
                        height: 20px;
                }
            
                    .form button {
                            width: 25%;
                            padding: 1% 1%;
                            font-family: 'BebasBold';
                            font-size: 1em;
                            color: rgba(240, 128, 26, 1);
                                  
                    }

                        .form button:hover {
                                    box-shadow:
                                                1px 1px rgba(240, 128, 26, 1),
                                                2px 2px rgba(240, 128, 26, 1),
                                                3px 3px rgba(240, 128, 26, 1);
                                    -webkit-transform: translateX(-3px);
                                    transform: translateX(-3px);
                                    color: rgba(255, 217, 0, 1);
                                    background: rgba(92, 92, 92, 0.3)
                    }

        .vk-widget { 
                width: 33%; /*задает ширину блока виджета вк*/
                float: left;
                margin: 2% 1%;
                
        }
            
        #vk_groups {
            width: 100%;  /*задает ширину внутри блока виджета вк*/  
            float: right;

        }

        .map {
                 
                width: 95%;
                margin: 2% auto;
                
        }
            
            .adress {
                    text-align: center;
                    font-family: 'SportsWorld';
                    color: rgba(255, 255, 255, 0.9);
                    font-size: 1.4em;
                    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1); /*цвет тени у мзаголовка*/
                    width: 100%;
                    height: auto;
                    float: left;
                    background: rgba(92, 92, 92, 0.3);
            }


        .photo-slider {
                width: 100%;
                margin-left: 10%;
                margin-right: 10%;
                
                padding: 2% 2%;
                float: left; /*выравнивание по левому краю*/
                
        }

                        #slider {
                            height: 390px;
                            overflow: hidden;
                            width:;
                            
                        }
                        #slider div {
                            height: 390px;
                            position: relative;
                            animation: mymove 10s linear infinite alternate;
                            -moz-animation: mymove 10s linear infinite alternate; /* Firefox */
                            -webkit-animation: mymove 10s linear infinite alternate; /* Safari and Chrome */
                        }
                        #slider img {
                            display: block;
                            
                            }
                        
                        
                        
                            @keyframes mymove {
                                0% {top: 0px;}
                                45% {top: 0px;}
                                55% {top: -390px;}
                                100% {top: -390px;}
                            }
                            /* Firefox */
                            @-moz-keyframes mymove {
                                0% {top: 0px;}
                                45% {top: 0px;}
                                55% {top: -390px;}
                                100% {top: -390px;}
                            }
                            /*Safari and Chrome*/
                            @-webkit-keyframes mymove {
                                0% {top: 0px;}
                                45% {top: 0px;}
                                55% {top: -390px;}
                                100% {top: -390px;}
                            }


        footer {
            
            font-family: 'BebasBold';
            display: flex; /* отображение flexbox*/
            flex-direction: column; /*направление горизонтально*/
            flex-wrap: wrap; /*расположение блоков в несколько слоев друг за другом*/
            justify-content: center; /* выравнивание вдоль главной оси*/
            align-items: center; /*выравнивание вдоль поперечной оси*/
            align-content: center; /*выравнивание в вертикаль и как делят пространство между собой*/
            margin: 5% auto;
            width: 100%; /*ширина*/
            height: 110px; /*высота*/
            padding: 0 3%;
            max-width: 960px ;
            
            border-bottom-left-radius: 100px;
            border-top-right-radius: 100px;
            color: rgba(255, 255, 255, 0.7) ;
            text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9); /*цвет тени у меню*/
                }
 
                footer a {
                    color: rgba(255, 217, 0, 1);
                }
            
                .footer-social-menu {
                    flex-grow: 1; /*показывает value как занимать пространство*/
                    float: left; /*выравнивание по левому краю*/
                    width: 25%; /*ширина*/
                    height: auto; /*высота*/
                    text-align: center;
                    padding-top: 5%;
                }

                

                .footer-contacts {
                    float: left; /*выравнивание по левому краю*/
                    width: 20%; /*ширина*/
                    height: auto; /*высота*/
                    margin-left: 4%;
                    text-align: left; /*текст выравнивание по центру блока*/
                }

                                .footer-contacts:hover {    /*увеличивает телефон при наведении*/
        
                                                    -webkit-transform: scale(1.1);
                                                    -ms-transform: scale(1.1);
                                                    transform: scale(1.1);
                                                }

                .footer-projects {
                            width: 50%;
                            display: inline;
                            margin-left: 4%;
                }

                .footer-projects:hover {
                    -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    transform: scale(1.1);
                    transition: all 0.5s

}
                                                    

                        

