@font-face {
	font-family: 'SportsWorld';
	src: url("../fonts/SportsWorldRegular.eot");
	src: url("../fonts/SportsWorldRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SportsWorldRegular.ttf") format("truetype"), url("../fonts/SportsWorldRegular.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
			font-family: 'BebasBold';
			src: url("../fonts/BebasBold.eot");
			src: url("../fonts/BebasBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/BebasBold.woff") format("woff"),
			url("../fonts/BebasBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}


body {
    margin: 0 auto; /* внешний отступ сверху и снизу 0px , лево и право авто по середине */
    width: vw;
    height: auto;
    max-width: 480px;
    min-width: 320px;
    background-image: url(/images/background-mobile.jpg);
    
    
    
    
}

  .wrapper {
        display: flex; /* отображение flexbox*/
        flex-direction: column; /*направление горизонтально*/
        flex-wrap: wrap; /*расположение блоков в несколько слоев друг за другом*/
        justify-content: center; /* выравнивание вдоль главной оси*/
        align-items: center; /*выравнивание вдоль поперечной оси*/
        align-content: center; /*выравнивание в вертикаль и как делят пространство между собой*/
        width: 98%;
        max-width: 480px;
        min-width: 320px;
        margin: 1% auto;
        
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(48, 37, 37, 0.1)); /*устанавливает градиент*/
        border-bottom-left-radius: 100px;
    } 



 header {
    width: 100%; /*ширина*/
    height: 100%; /*высота*/
    max-width: 480px;
    min-width: 320px;
    font-family: 'SportsWorld', 'BebasBold';
    display: flex; /* отображение flexbox*/
    flex-direction: column; /*направление горизонтально*/
    flex-wrap: wrap; /*расположение блоков в несколько слоев друг за другом*/
    justify-content: center; /* выравнивание вдоль главной оси*/
    align-items: center; /*выравнивание вдоль поперечной оси*/
    align-content: center; /*выравнивание в вертикаль и как делят пространство между собой*/
    margin: ;
    padding: 2% 2% 2% 2% ;
    background: rgba(0, 0, 0, 0.10) ;
    box-shadow: inset 0 0 10px rgba(0, 0, 1, 0.5); /*делает тень внутри коробки*/
    border-radius: 4px;
   
}

        header a { 
            text-decoration: none; /* Отменяем подчеркивание у ссылки в хедере */
            color: rgba(255, 217, 0, 1);
            font-weight:;
            text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9); /*цвет тени у меню*/
            
            
            
        } 
            
                     header a:hover {
                                color: rgba(255, 255, 255, 0.9);
                                text-shadow: 5px 5px 5px rgba(0, 0, 0, 1); /*цвет тени у меню*/
                    }  
              
        header li {
            display: inline; /*отображение списков в строчку*/
            
            
        }
               
                     

        .header-logo {
            
            flex-grow: ; /*показывает value как занимать пространство*/  
            margin: ;
            width: 100px;
            
        }

                .header-logo:hover {
        
                    -webkit-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    transform: scale(1.2);
                    transition: all 0.5s;
                }


        .header-menu {
            flex-grow: 2; /*показывает value как занимать пространство*/ 
            font-size: 1em;
            word-spacing: 0.3em;
            text-decoration: ;
            margin:;
            display: none;
        }                



        .header-social-menu {
            flex-grow: ; /*показывает value как занимать пространство*/
            text-align: center;
            margin: ;
            
            }
                    /*анимация иконок*/
                        .fa{
                          font-size:30px;
                          margin:5px;
                            -webkit-transition: all 0.5s;
                            transition: all 0.5s;
                        }
                        .fa:hover{
                          font-size: 40px;
                          transform: rotate(45deg);
                        }
                        

        .header-phone {
            flex-grow: ; /*показывает value как занимать пространство*/
            font-size: 1em;
            margin: 1%;
            margin-top: 4%;
            
        }

                .header-phone:hover {    /*увеличивает телефон при наведении*/
        
                    -webkit-transform: scale(1.04);
                    -ms-transform: scale(1.04);
                    transform: scale(1.04);
                }


    .about {
                text-align: center;
                margin: 2% 2%; /*-- отсутп вокруг 1 процент */
                width: 80%; /*ширина*/
                max-width: 480px;
                float: left; /*выравнивание по левому краю*/
                padding: 2% 2%;
                background: rgba(0, 0, 0, 0.1) ;
                font-family: 'BebasBold';
                box-shadow: inset 0 0 200px rgba(0, 0, 1, 0.9); /*делает тень внутри коробки*/
                
                
        }
        
                .about h1 {
                        color: rgba(255, 255, 255, 0.9);
                        text-shadow: 8px 8px 5px rgba(0, 0, 0, 1); /*цвет тени у мзаголовка*/
                        font-size: 2.1em;
                        text-align: center;
                        
                        }
        
                                

                .about p {
                        color: rgba(255, 255, 255, 0.9);
                        background-color: ;
                        padding: 1%;
                        font-size: 1em;
                        text-indent: 10px; /*отступ у каждого абзаца*/
                        text-shadow: 5px 5px 5px rgba(0, 0, 0, 1); /*цвет тени у мзаголовка*/
                        letter-spacing: 1px;
                        
                }

 
        .adverts {
                display: none;
                width: 30%; /*ширина*/
                float: left; /*выравнивание по левому краю*/
                margin: 1% 2%; <!-- отсутп вокруг 1 процент -->
                background: ;
        }

        .video {
                display: none;
                margin: 0 2%;
                width: 96%; /*ширина*/
                float: left; /*выравнивание по левому краю*/
                padding: 3% 0;
                background: ;
    
        }

        .blockquoate {
                width: 100%;
                margin: ;
                max-width: 480px;
                height: auto;
                float: left;
                background: rgba(240, 128, 26, 0.8);
                
            }

                    
        
                .blockquoate p {
                    text-align: center;
                    font-family: 'SportsWorld', 'BebasBold';
                    color: rgba(255, 255, 255, 0.9);
                    font-size: 1.7em;
                    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1); /*цвет тени у мзаголовка*/
                    
                    }

                            .blockquoate p:hover {
                                        text-shadow: 5px 4px 10px rgba(0, 0, 0, 1); /*цвет тени у мзаголовка*/
                            }

        .form {
                width: 90%;
                float: left;
                margin: 2% 2%;
                margin-top: 6%;
                padding: 1% 1%;
                background: rgba(92, 92, 92, 0.4);
                font-family: 'BebasBold';
                color: rgba(255, 255, 255, 0.9);
                font-size: 1.1em;
                line-height: 0.2em;
                text-shadow: 5px 4px 10px rgba(0, 0, 0, 1);
        }

                .form input {
                        width: 70%;
                        height: 30px;
                }
            
                    .form button {
                            width: 70%;
                            padding: 1% 1%;
                            font-family: 'BebasBold';
                            font-size: 1.7em;
                            color: rgba(240, 128, 26, 1);
                                  
                    }

                        .form button:hover {
                                    box-shadow:
                                                1px 1px rgba(240, 128, 26, 1),
                                                2px 2px rgba(240, 128, 26, 1),
                                                3px 3px rgba(240, 128, 26, 1);
                                    -webkit-transform: translateX(-3px);
                                    transform: translateX(-3px);
                                    color: rgba(255, 217, 0, 1);
                                    background: rgba(92, 92, 92, 0.3)
                    }

        .vk-widget { 
                width: 80%; /*задает ширину блока виджета вк*/
                float: left;
                margin: 2% 1%;
                
        }
            
        #vk_groups {
            width: 100%;  /*задает ширину внутри блока виджета вк*/  
            float: right;

        }

        .map {
                 
                width: 95%;
                margin: 2% auto;
                
        }
            
            .adress {
                    text-align: center;
                    font-family: 'SportsWorld';
                    color: rgba(255, 255, 255, 0.9);
                    font-size: 1.1em;
                    text-shadow: 1px 1px 10px rgba(0, 0, 0, 1); /*цвет тени у мзаголовка*/
                    width: 100%;
                    height: auto;
                    float: left;
                    background: rgba(240, 128, 26, 0.8);
            }


        .photo-slider {
                display: none;
                width: 90%;
                margin: ;
                padding:;
                float: left; /*выравнивание по левому краю*/
                
        }

                        #slider {
                            height: 240px;
                            overflow: hidden;
                            width:;
                            
                        }
                        #slider div {
                            height: 240px;
                            position: relative;
                            animation: mymove 10s linear infinite alternate;
                            -moz-animation: mymove 10s linear infinite alternate; /* Firefox */
                            -webkit-animation: mymove 10s linear infinite alternate; /* Safari and Chrome */
                        }
                        #slider img {display: block;}
                        
                        }
                        
                            @keyframes mymove {
                                0% {top: 0px;}
                                45% {top: 0px;}
                                55% {top: -240px;}
                                100% {top: -240px;}
                            }
                            /* Firefox */
                            @-moz-keyframes mymove {
                                0% {top: 0px;}
                                45% {top: 0px;}
                                55% {top: -240px;}
                                100% {top: -240px;}
                            }
                            /*Safari and Chrome*/
                            @-webkit-keyframes mymove {
                                0% {top: 0px;}
                                45% {top: 0px;}
                                55% {top: -240px;}
                                100% {top: -240px;}
                            }


        footer {
            
            font-family: 'BebasBold';
            
            margin: 1% auto;
            width: 100%; /*ширина*/
            height: 100%; /*высота*/
            padding: 0 3%;
            max-width: 480px ;
            background: rgba(0, 0, 0, 0.10) ;
            box-shadow: inset 0 0 150px rgba(0, 0, 1, 0.2); /*делает тень внутри коробки*/
            border-bottom-left-radius: 100px;
            border-top-right-radius: 100px;
            color: rgba(255, 255, 255, 0.7) ;
            text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9); /*цвет тени у меню*/
                }
 
                footer a {
                    margin-top: 10%;
                    color: rgba(255, 217, 0, 1);
                }
            
                .footer-social-menu {
                    flex-grow: 2; /*показывает value как занимать пространство*/
                    float: left; /*выравнивание по левому краю*/
                    width: 80%; /*ширина*/
                    height: auto; /*высота*/
                    text-align: center;
                    color: 
                }

                

                .footer-contacts {
                    float: left; /*выравнивание по левому краю*/
                    width: 80%; /*ширина*/
                    height: auto; /*высота*/
                    background: ;
                    text-align: center;
                    font-size: 1.5em;/*текст выравнивание по центру блока*/
                }

                                .footer-contacts:hover {    /*увеличивает телефон при наведении*/
        
                                                    -webkit-transform: scale(1.1);
                                                    -ms-transform: scale(1.1);
                                                    transform: scale(1.1);
                                                }

     .footer-projects {
                display: none;
                            
        }


                        

