.home {
    width: 90%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    margin-top: 20px;
    &__logo {
        animation: frombottom;
        animation-duration: 0.7s;
        width: 100px;
        margin-bottom: 10px;
    }
    &__titles {
        animation: fromleft;
        animation-duration: 0.7s;
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__title {
        
        color: $dark-primary-color;
        font-family: $title-font-family;
        font-size: $title1-laptop;
        text-shadow: 1px 1px 1px $light-primary-color;
        margin-bottom: 10px;
        line-height: 1.5;
    }
    &__subtitle {
        color: $dark-primary-color;
        font-family: $main-font-family;
        font-size: $title2-laptop;
        text-shadow: 1px 1px 1px $light-primary-color;
        line-height: 1.5;
    }
    
    &__info{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    &__poster{
        animation: fromtop;
        animation-duration: 0.7s;
        border: 8px solid white;
        width: 80%;
        margin-bottom: 40px;
        box-shadow: 4px 4px 4px $text-color;
    }
    &__information {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    &__sectitle {
        
        animation: fromleft;
        animation-duration: 0.7s;
        margin-bottom: 20px;
        color: $dark-primary-color;
        font-family: $main-font-family;
        font-size: $title2-laptop;
        text-shadow: 1px 1px 1px $light-primary-color;
        font-weight: bold;
        line-height: 1.5;
    }
    &__text {
        animation: fromleft;
        animation-duration: 0.7s;
        margin-bottom: 20px;
        color: $dark-primary-color;
        font-family: $main-font-family;
        font-size: $title3-laptop;
        text-shadow: 1px 1px 1px $light-primary-color;
        line-height: 1.5;
    }
    &__quotes {
        animation: fromright;
        animation-duration: 0.7s;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        margin-bottom: 20px;
        padding-bottom: 20px;
        padding-top: 20px;
        border-top: 2px solid white;
        
    }
    &__quote {
        text-align: right;
        line-height: 1.2;
        color: $dark-primary-color;
        
        font-family: $main-font-family;
        font-size: $title3-laptop;
        margin-bottom: 10px;
        font-style: italic;
    }
    &__name {
        color: $dark-primary-color;
        font-family: $title-font-family;
        font-size: $title2-laptop;
        margin-bottom: 20px;
    }
    &__icon {
        display: none;
        width: 100px;
        border-radius: 50%;
    }
    
    &__button {
        
        overflow: hidden;
        animation: fromleft;
        animation-duration: 0.7s;
        
        background:$accent-color;
        border: 0px;
        
        padding: 15px;
        font-family: $title-font-family;
        text-align: center;
        font-size: $title2;
        color: $text-primary-color;
        text-shadow: 1px 1px 1px $dark-primary-color;
        margin-bottom: 20px;
        box-shadow: 4px 4px 4px $text-color;
        &:hover {
            text-shadow: 3px 1px 3px $dark-primary-color;
           box-shadow: 6px 6px 6px $dark-primary-color; 
        }
    }
    &__button-icon {
        width: 50px;
        animation-name: basketball;
        animation-duration: 1.2s;
        animation-iteration-count: infinite;
        text-shadow: 3px 1px 3px $dark-primary-color;
    }
    
}


