.main {
    width: 72%;
    height: 100%;
    min-height: 100%;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start; 
    
    padding-right: 80px;
}