
.footer {
    animation: fromright;
    animation-duration: 0.7s;
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
    right: -350px;
    top: 0px;
    
    background: $dark-primary-color;
    
    &__menu {
        animation: fadein;
        animation-duration: 0.7s;
        margin-top: 20px;
       margin-bottom: 20px;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 0px;
        font-size: $title2;
        color: $light-primary-color;
        &:hover {
            color: $text-primary-color;
            transition-duration: .4s
        } 
    }
    &__block {
        margin-left: 50px;
        width: 84%;
        margin-bottom: 20px;
        
    }
    &__title {
        font-family:$title-font-family;
        font-size: $title2;
        margin-bottom: 5px;
        color: $light-primary-color;
        line-height: 1.5;
    }
    &__text {
        
        margin-bottom: 20px;
        line-height: 1.2;
       font-family: $main-font-family;
        color: $light-primary-color;
        font-size: $sub-title;
    }
    &__icons {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 20px;
    }
    &__icon {
        cursor: pointer;
        color: $light-primary-color;
        font-size: $title2;
        margin-right: 10px;
        &:hover {
            color: $text-primary-color;
            transition-duration: .4s
        } 
    }
    &__adress {
        width: 100%;
        margin-bottom: 20px;
    }
    &__link {
        text-decoration: none;
        cursor: pointer;
        font-family: $main-font-family;
        color: $light-primary-color;
        font-size: $title3;
        &:hover {
            color: $text-primary-color;
            transition-duration: .4s
        } 
    }
    &__slogan {
        margin-bottom: 10px;
        line-height: 1.2;
       font-family: $main-font-family;
        color: $light-primary-color;
        font-size: $sub-title;
        
    }
    &__map {
        margin-left: 50px;
        width: 87%;
    }
    &__date {
        
        line-height: 1.2;
        font-family: $main-font-family;
        color: $light-primary-color;
        font-size: 12px;
    }
}
.footer-display-right {
    right: 350px;
}